vendor
node_modules
storage/framework/cache
storage/framework/sessions
storage/framework/views
storage/logs
.git
.gitignore
.gitattributes
.editorconfig
docker-compose.yml
docker/*.log
docker/*.tmp
*.env.local
*.env.development.local
*.env.production.local
*.env.test.local
*.env


